@media screen and (min-width: 1px) and (max-width: 991px) {
  /*=====================================*/
  /*===============Body===============*/
  /*=====================================*/
  #page {
    margin: 0;
    text-align: justify;
  }

  /*====================================*/
  /*===============Header===============*/
  /*====================================*/
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conteneur-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70px;
    width: auto;
    margin: 20px 0 0 0;
  }

  nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 50%;
  }

  .conteneur-liens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }

  .cercle-gris span {
    padding-right: 15px;
  }
  /*=================================*/
  /*===============Nav===============*/
  /*=================================*/
  .filtres-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .navigations-main {
    margin: 20px;
  }

  .filtres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .filtres h2 {
    width: 100%;
    text-align: start;
  }

  .filtres-list li {
    font-size: 14px;
    margin: 0 4% 10px 0;
  }

  .boutton .icone {
    display: inline;
  }

  .boutton .texte {
    display: none;
  }

  .boutton {
    border-radius: 19px;
    transform: translate(-19px);
  }

  /*=================================================*/
  /*===============Section hébergement===============*/
  /*=================================================*/
  .allignement {
    display: flex;
    flex-direction: column-reverse;
  }

  .bloc-gris {
    padding: 20px;
    margin: 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
  }

  article .infobulle {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .allignement article a {
    min-width: 100%;
    margin: 5px 0;
  }

  /*=========================================================*/
  /*===============Section Le splus populaires===============*/
  /*=========================================================*/
  .populaire {
    padding: 20px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  aside figure {
    margin: 5px 0;
    border-radius: 20px;
    padding: 5px;
  }

  .bloc-blanc-pop img {
    border-radius: 15px 0 0 15px;
  }

  .titre_logo {
    margin: 20px 0 0 0;
  }

  /*=========================================*/
  /*===============Activitées===============*/
  /*=========================================*/

  .activites {
    padding: 0 20px;
  }

  .article {
    display: flex;
    flex-direction: column;
  }

  .article figure {
    margin: 10px 0;
  }

  .article img {
    max-height: 134px;
    min-height: 134px;
  }

  .petite_image {
    width: auto;
  }

  .grande_image {
    width: auto;
  }

  .activite_1 {
    height: 190px;
  }

  .activite_2 {
    height: 190px;
  }

  /*====================================*/
  /*===============Footer===============*/
  /*====================================*/
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer section {
    padding: 0 0 0 29px;
  }

  .copyright {
    background-color: #f2f2f2;
  }
}

/* 
@media screen and (min-width: 768px) and (max-width: 992px) {

}


@media screen and (min-width: 0px) and (max-width: 768px) {

} */
