/*=====================================*/
/*===============Général===============*/
/*=====================================*/
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.gras {
  font-weight: bold;
}
/*==================================*/
/*===============Body===============*/
/*==================================*/
.page {
  margin: 0px 50px 0px 50px;
  max-width: 2440px;
}
/*====================================*/
/*===============Header===============*/
/*====================================*/

/* <--------Général--------> */
.haut-de-page {
  display: flex;
  justify-content: space-between;
}
/* <--------Logo site--------> */
.conteneur-logo {
  display: flex;
  align-content: end;
}
.conteneur-logo img {
  max-height: 45px;
  width: 100%;
  margin: 45px 0 0 0;
}
/* <--------Onglets de selections--------> */
.conteneur-liens {
  display: inline-block;
}
.conteneur-liens a {
  padding: 43px 35px 0 35px;
  border-top: 2px solid transparent;
  color: black;
  text-decoration: none;
  display: inline-block;
  min-width: 50px;
  text-align: center;
}
.conteneur-liens a:hover {
  color: #0065fc;
  border-top-color: #0065fc;
}
/*=================================*/
/*===============Nav===============*/
/*=================================*/
/* <--------Textes d'introduction--------> */
.navigations-principale h1 {
  margin: 50px 0 0 0;
}
.navigations-principale p {
  margin: 12px 0 19px 0;
}
.titre {
  padding: 0%;
  margin: 0%;
}
/* <--------Formulaire de recherche--------> */
form {
  display: flex;
  justify-content: flex-start;
}
.fa-map-marker-alt {
  display: flex;
  padding: 18px 20px 18px 20px;
  border-radius: 18px 0 0 18px;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
}
.textinput {
  padding: 16px 10px;
}
.boutton {
  background-color: #0065fc;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 0 19px 19px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.recherche input {
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.recherche input::placeholder {
  color: black;
}
.boutton .icone {
  display: none;
}

.boutton :hover {
  cursor: pointer;
}
/* <--------Liste de filtres--------> */
nav ul li {
  list-style-type: none;
}
nav ul li :hover {
  cursor: pointer;
}
.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 0 0;
}
.filtres h2 {
  text-align: center;
  padding: 0 34px 0 0;
}
.filtres-liste {
  display: flex;
  margin: 0;
  width: 80%;
}
.filtres-liste li {
  display: flex;
  width: fit-content;
  margin: 0 2% 10px 0;
  list-style: none;
}
.filtre {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* <--------checkbox filtres--------> */
.filtre:checked + label {
  border: 2px solid #0065fc;
}
/* <--------mise en formes contours filtres--------> */
.cercle-gris {
  display: flex;
  border: 2px solid #f2f2f2;
  border-radius: 6666px;
  align-items: center;
  margin: 0;
}
.cercle-gris i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cercle-gris:hover {
  border: 2px solid #0065fc;
}
.cercle-gris span {
  padding: 0 21px 0 15px;
}
.cercle-bleu {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50px;
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
}
/* <--------Informations--------> */
.cercle-information {
  display: flex;
  align-items: center;
  padding: 34px 0 34px 0;
}
.fa-info {
  border: 2px solid #f2f2f2;
  color: #0065fc;
  border-radius: 30px;
  margin-right: 12px;
  padding: 4px 10px 4px 10px;
}
.cercle-information p {
  margin: 0;
}
/*======================================================================*/
/*===============Commun hébergement & Les plus populaires===============*/
/*======================================================================*/
/* <--------Général--------> */
.allignement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 40px 0;
}
.allignement figure {
  width: 100%;
}
figcaption {
  border-radius: 0 0 15px 15px;
}
article p {
  margin: 0 0 5px 0;
}
/*=================================================*/
/*===============Section hébergement===============*/
/*=================================================*/
/* <--------fond gris--------> */
.bloc-gris {
  background: #f2f2f2;
  border-radius: 30px;
  padding: 40px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  width: 63%;
  flex-basis: 63%;
  margin: 0 3% 0 0;
}

.bloc-gris h2 {
  margin: 0 0 20px 0;
}
.allignement h3 {
  margin: 20px 0 0 0;
}
/* <--------bulles présentation hôtel--------> */
.bloc-gris .infobulle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.infobulle a figure:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 1px 1px 15px #0064fa;
}
.allignement .infogbulle figure {
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  margin: 0;
  box-shadow: 1px 1px 30px rgb(117, 112, 112);
}
.allignement .bloc-gris a {
  min-width: 30%;
  max-width: 30%;
}
/* <--------Images + légendes--------> */
.allignement .bloc-gris figure {
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  margin: 0;
  box-shadow: 0px 0px 20px 0 rgb(117, 112, 112);
  height: 100%;
}
.allignement .bloc-gris figure img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 110px;
}
/* <--------légende--------> */
.legende {
  padding: 8px 0 0 10px;
}
.étoiles {
  margin: 0 0 05px 0;
}
.fa-star {
  color: #0064fa;
  font-size: 14px;
  margin-left: -3px;
}
.vide {
  color: #f2f2f2;
}
/*=========================================================*/
/*===============Section Les plus populaires===============*/
/*=========================================================*/
/* <--------fond gris--------> */
.populaire {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 25px;
  background: #f2f2f2;
  width: 30%;
  padding: 40px;
  margin: 0;
}

.populaire h2 {
  margin: 0 0 20px 0;
}

/* <--------Titre & icones--------> */
.titre_icone {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titre_icone i {
  font-size: 25px;
  color: black;
}
/* <--------bulles présentation hôtel--------> */
.populaire .bloc-blanc-pop {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.populaire a {
  display: flex;
  width: 100%;
}
.populaire figure {
  margin: 0;
  display: flex;
  height: 144px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 30px rgb(117, 112, 112);
  text-align: start;
}
.populaire figure:hover {
  transform: scale(1.07);
  transition-duration: 0.5s;
  box-shadow: 1px 1px 15px #0064fa;
}
.populaire img {
  min-width: 40%;
  max-width: 40%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.populaire figcaption {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  padding: 15px 40px 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.populaire p {
  margin: 0 0 05px 0;
}
/*=========================================*/
/*===============Activitées===============*/
/*=========================================*/
/* <--------général--------> */
.activites_a_marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 40px 0;
  padding: 40px 0 0 0;
}
/* <--------Titre--------> */
.activites_a_marseille h2 {
  width: 100%;
  flex-basis: 100%;
  margin: 0 0 20px 0;
}
/* <--------tuiles activitées--------> */
.bloc_activites {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.grande_image,
.petite_image {
  width: 20%;
  flex-basis: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grande_image figure {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 15px rgba(117, 112, 112, 0.411);
}
.grande_image figure:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  box-shadow: 1px 1px 15px #0064fa;
}
.grande_image figure img {
  height: 390px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.petite_image figure {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 15px rgba(117, 112, 112, 0.411);
}
.petite_image figure:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  box-shadow: 1px 1px 15px #0064fa;
}
.grande_image figcaption {
  padding: 15px;
}
.activite_1 {
  height: 236px;
  width: 300px;
  border-radius: 20px;
}
.activite_1 img {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activite_1 figcaption {
  padding: 15px;
}
.activite_2 {
  height: 165px;
  width: 100%;
  border-radius: 20px;
}
.activite_2 img {
  height: 110px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activite_2 figcaption {
  padding: 15px;
}
/*====================================*/
/*===============Footer===============*/
/*====================================*/
footer {
  background-color: #f2f2f2;
  margin: auto;
  display: flex;
  padding: 50px 0 0 0;
}
footer section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
footer h3 {
  margin: 0 0 15px 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin-bottom: 15px;
}
footer section a {
  text-decoration: none;
  color: black;
}
footer section a:hover {
  text-decoration: underline;
}
/*=======================================*/
/*===============Copyright===============*/
/*=======================================*/
.copyright * {
  background-color: #f2f2f2;
  padding: 15px 0 0 0;
  font-size: 10px;
}
