/*===============Header===============*/
.enveloppe {
  margin: 15px;
}

.ligne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.colonne1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.colonne2 {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  flex: 1;
}

.colonne-verte {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
}

.colonne-verte.sinscrire a {
  font-weight: bold;
  color: #0065fc;
}

header img {
  max-width: 12.5%;
}

header div a {
  text-decoration: none;
  padding: 0;
  color: black;
}

header div a:hover {
  text-decoration: underline;
  color: #0065fc;
}

/*===============Body===============*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
/*===============Liens===============*/

/*===============Nav===============*/
nav ul li {
  list-style-type: none;
}

/*===============Section hébergement===============*/

body img {
  width: 30%;
}

.hebergement {
  background-color: grey;
  width: 50%;
  padding: 30px;
  margin: 0px 0px 50px 200px;
}

/*===============Section Le splus populaires===============*/
.populaire {
  background-color: #808080;
  margin: 0px 200px 0px 30px;
  width: 20%;
  padding: 30px;
}

/*===============Footer===============*/
footer {
  background-color: lightgray;
  margin: auto;
  display: block 10px 10px 10px 10px;
  padding: 0 1rem;
  display: flex;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-bottom: 1rem;
}

footer li a:hover {
  text-decoration: underline;
}

footer section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer section a {
  text-decoration: none;
  color: black;
}

.colonne {
  display: flex;
}

.flex {
  flex-grow: 1;
}
