/*===============Général===============*/
a {
  text-decoration: none;
  color: black;
}

/*===============Header===============*/

.haut-de-page {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.conteneur-liens a {
  padding-top: 2.5rem;
  border-top: 2px solid transparent;
  color: black;
  text-decoration: none;
  display: inline-block;
  min-width: 120px;
  text-align: center;
}

.conteneur-liens a:hover {
  color: #0065fc;
  border-top-color: #0065fc;
}

.conteneur-liens .lien-sinscrire {
  font-weight: bold;
  color: #0065fc;
}

.conteneur-logo {
  display: flex;
  align-content: end;
}

.conteneur-logo img {
  height: 67.5px;
  width: 117.5px;
}

/*===============Body===============*/

#page {
  width: 80%;
  margin: auto;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}
/*===============Liens===============*/

/*===============Nav===============*/
/* 
.filtres * {
  border: solid 1px red;
} */

form {
  display: flex;
}

.fa-location-dot {
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  align-items: center;
  background-color: lightgray;
  boreder: none;
}

.boutton {
  background-color: #0065fc;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
}

.textinput {
  padding: 1rem 10px;
}

.titre {
  padding: 0%;
  margin: 0%;
}

.recherche input {
  padding: 0 1rem;
}

.recherche .bloc {
  border: solid 1px red;
  background-color: #0065fc;
  color: white;
  padding: 1rem;
  margin: 0%;
  border-radius: 0 1rem 1rem 0;
  align-items: center;
}

.filtres {
  display: flex;
  flex-direction: row;
}

.filtres-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtres-list ul {
  padding: 0;
  margin: none;
}

li {
  list-style: none;
  padding: none;
  margin: none;
}

.information {
  display: flex;
  flex-direction: row;
}

.filtres ul i {
  color: #0065fc;
  background-color: gray;
  border-radius: 10rem;
}

.fa-circle-info {
  color: #0065fc;
  background-color: gray;
  border-radius: 3rem;
  max-width: 3rem;
}

nav ul li {
  list-style-type: none;
}

/*===============Section hébergement===============*/

.allignement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: ;
}

.bloc-gris {
  background: #c9c4c4;
  width: 65%;
  border-radius: 30px;
  padding: 25px;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
}

section h2 {
  margin: 0;
}

article .infobulle {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  justify-content: space-between;
}

article figure {
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  margin: 0;
}

article a {
  max-width: 31%;
  min-width: 31%;
  height: 200px;
}

article figure img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 110px;
}

figcaption {
  border-radius: 0 0 15px 15px;
}

article p {
  margin: 0 0 5px 0;
}

.fa-star {
  color: #0065fc;
}

#empty {
  color: #c9c4c4;
}

.stars {
  margin: 0 0 05px 0;
}

/*===============Section Le splus populaires===============*/

#populaire {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: #c9c4c4;
  width: 25%;
  padding: 30px;
  margin: 0;
}

aside .bloc-blanc-pop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  flex-direction: column;
}

aside a {
  display: flex;
  width: 100%;
  min-height: 130px;
  max-height: 130px;
}

aside figure {
  display: flex;
  margin: 10px 0 0 0;
  max-width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

aside p {
  margin: 0 0 05px 0;
}

#populaire img {
  width: 40%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

#activites {
  border-radius: 25px;
  background-color: grey;
  margin: 10px 200px 10px 30px;
  width: 100%;
  padding: 30px;
}

#populaire figcaption {
  padding: 0 0 0 15px;
}

/*===============Footer===============*/
footer {
  font-family: "Raleway", sans-serif;
  background-color: lightgray;
  margin: auto;
  display: block 10px 10px 10px 10px;
  padding: 0 1rem;
  display: flex;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-bottom: 1rem;
}

footer li a:hover {
  text-decoration: underline;
}

footer section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer section a {
  text-decoration: none;
  color: black;
}

.colonne {
  display: flex;
}

.flex {
  flex-grow: 1;
}

.fa-star {
  color: #0065fc;
}

.fa-star-half-stroke {
  color: #0065fc;
}

/*===============Copiright===============*/

.signature {
  background-color: lightgray;
}

.copiright img {
  width: 0.5%;
}
